/* hamburger */
#hamburger {
  text-align: right;
  position: absolute;
  margin: 0;
  right: 20px;
  border: 0;
  background-color: inherit;
  padding: 0;
}

#hamburger img {
  width: 30px;
  padding: 5px;
  border-radius: 5px;
  border: solid 1px #908f8f;
  background-color: #ffffff;
  cursor: pointer;
}

@media only screen and (min-width: 1025px) {
  #hamburger {
    display: none;
  }
}

/* logo */
#logo {
  left: 5%;
  text-align: center;
  margin-bottom: 20px;
}

#logo p:first-child {
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.3em;
}

@media only screen and (min-width: 1025px) {
  #logo {
    text-align: left;
    margin-bottom: 0;
  }
}

/* social */
#social ul {
  display: flex;
  justify-content: center;
}

#social ul li {
  width: 17px;
  margin: 0 8px;
}

#social ul li img {
  width: 100%;
}

@media only screen and (min-width: 1025px) {
  #social {
    margin-top: 20px;
  }

  #social ul {
    justify-content: start;
  }

  #social ul li {
    margin: 0 9.5px;
  }

  #social ul li:first-of-type{
    margin-left: 0;
  }
}

/* links */
#links {
  background-color: #ffffff;
  visibility: hidden;
  overflow: hidden;
  max-height: 0;
  margin-bottom: 0;
  transition-property: max-height, visibility, overflow, margin;
  transition-duration: 0.9s;
  transition-timing-function: ease-in-out;
  text-align: center;
  margin-top: 20px;
}

.open {
  visibility: visible !important;
  overflow: visible !important;
  max-height: 500px !important;
  margin-bottom: 20px !important;
  transition-property: max-height, visibility, overflow, margin;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}

@media only screen and (min-width: 1025px) {
  #links {
    margin-top: 40px;
    background-color: #eaeaea;
    visibility: visible;
    overflow: visible;
    max-height: unset;
    transition: none;
    text-align: left;
  }
}

#links ul li {
  padding: 10px 0;
}

@media only screen and (min-width: 1025px) {
  #links ul li {
    padding-top: 20px;
    padding-bottom: 0;
  }

  #links ul li:first-child {
    padding-top: 0;
  }
  #links ul li:last-of-type {
    margin-top: 20px;
  }
}
