#root article .grid {
  column-count: 1;
}

#root article .grid {
  column-gap: 4px;
}

#root article .grid div {
  width: 100%;
  height: auto;
  margin-bottom: 4px;
}

@media only screen and (min-width: 500px) {
  #root article .grid {
    column-count: 2;
  }
}

@media only screen and (min-width: 900px) {
  #root article .grid {
    column-count: 3;
  }
}

@media only screen and (min-width: 1000px) {
  #root article .grid {
    column-count: 2;
  }
}

@media only screen and (min-width: 1100px) {
  #root article .grid {
    column-count: 3;
  }
}

@media only screen and (min-width: 1750px) {
  #root article .grid {
    column-count: 4;
  }
}
