article.content .grid {
  column-count: 1;
}

article.content .grid {
  column-gap: 4px;
}

article.content .grid div {
  width: 100%;
  height: auto;
  margin-bottom: 4px;
}

@media only screen and (min-width: 992px) {
  article.content .grid {
    column-count: 2;
  }
}

@media only screen and (min-width: 1200px) {
  article.content .grid {
    column-count: 3;
  }
}
