nav {
  margin-top: 20px;
}

article {
  margin: 20px 0 20px 0;
}

@media only screen and (min-width: 992px) {
  article {
    margin-right: 20px;
  }
}

@media only screen and (min-width: 1025px) {
  #root {
    display: flex;
  }
  nav {
    width: 18%;
    margin-left: 20px;
  }
  article {
    width: 82%;
  }
}

@media only screen and (min-width: 1100px) {
  nav {
    width: 15%;
  }
  article {
    width: 85%;
  }
}

@media only screen and (min-width: 1350px) {
  nav {
    width: 12%;
  }
  article {
    width: 88%;
  }
}

@media only screen and (min-width: 1750px) {
  nav {
    width: 10%;
  }
  article {
    width: 90%;
  }
}

