@media only screen and (min-width: 992px) {
  #root {
    display: flex;
  }
  #root nav {
    width: 15%;
  }
  #root article.content {
    width: 85%;
  }
}

article.content {
  margin: 20px 0 20px 0;
}

@media only screen and (min-width: 992px) {
  article.content {
    margin-right: 20px;
  }
}
