@media only screen and (min-width: 992px) {
  #social {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 992px) {
  #social ul {
    margin-left: -4px;
  }
}

#social ul li {
  display: inline-block;
  width: 15px;
}

#social ul li img {
  display: block;
  width: 100%;
  height: auto;
}

#social ul li:not(:first-child) {
  margin-left: 8px;
}
